# Get your secret key at https://dashboard.belvo.co/
BELVO_SECRET_ID=CHANGEME
BELVO_SECRET_PASSWORD=CHANGEME
# You can choose between sandbox and production
BELVO_ENV=sandbox
# You can choose between python, ruby or node
CONTEXT=python
